
<h5 class="bold mb-5"><%= @list.name %></h5>
<div class="row">
  <% @list.foods.each do |food| %>
    <div class="col-md-4">
      <div class="card p-4">
        <p class="bold">
          <%= link_to food.name, menu_food_path(@menu, food) %>
        </p>
      </div>
      <br  />
    </div>
  <% end %>
</div>

<br  />
<%= link_to "back", menu_path(@menu), class: "btn btn-dark" %>
<%= link_to "edit", edit_menu_list_path(@menu, @list), class: "btn btn-dark" %>
<%= link_to "delete", menu_list_path(@menu, @list), :method => :delete, data: {confirm: 'Are you sure you want to delete #{@list.name}?'}, class: "btn btn-dark" %>
