
<%= simple_form_for([@menu, @food, @review]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.hidden_field :menu_id %>
    <%= f.input :public %>
    <%= f.input :private %>
    <%= f.fields_for :properties, OpenStruct.new(@review.properties) do |builder| %>
        <% @review.menu.ratings.each do |rating| %>
            <%= render "field", field: rating, f: builder %>
        <% end %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
